.profile__edit-button {
    background-color: transparent;
    background-image: url(../../../image/Rectangle1.png);
    background-image: url(../../../image/Vector1.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: 1px solid #fff;
    border-radius: 2px;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 5px 0 0;
    box-sizing: border-box;
    transition: all .1s linear;
    align-self: center;
    grid-area: edit-button;
}

@media screen and (max-width: 767px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin: 0;
    }
}