.popup__button {
    display: flex;
    background: #000000;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    height: 50px;
    justify-content: center;
    margin-top: 32px;
    align-items: center;
    outline: none;
}

.popup__button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .popup__button {
        font-size: 14px;
        line-height: 17px;
    }
}