.popup__close-icon {
    background-image: url(../../../image/Close-Icon.png);
    background-size: cover;
    width: 32px;
    height: 32px;
    position: absolute;
    right: -40px;
    top: -40px;
    cursor: pointer;
    border: none;
}