.popup__close-icon {
    background: transparent url(../../../images/Close\ Icon1.svg);
    background-size: cover;
    width: 32px;
    height: 32px;
    position: absolute;
    right: -40px;
    top: -40px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.popup__close-icon:hover {
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .popup__close-icon {
        height: 20px;
        right: 0;
        top: -36px;
        width: 20px;
    }
}