.profile__job {
    max-width: 500px;
    word-wrap: break-word;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin: 0;
    grid-area: job;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


@media screen and (max-width: 1023px) {
    .profile__job {
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .profile__job {
        font-size: 14px;
        line-height: 17px
    }
}